body {
    margin: 0;
    font-family: "Forum", serif;
    background-image: url(pic10_processed.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background: #0b1e3d;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

p {
    color: gold;
}

.signup-box {
    background: #0b1e3d;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 20px;
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background : #0aadb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



h2 {
    color: gold;
    margin-bottom: 15px;
}