body {
    margin: 0;
    font-family: "Forum", serif;
    background-image: url(pic10_processed.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:rgb(237, 230, 237) ;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
h1 {
    text-align: center;
    color:beige;
    font-size: 50px;
    padding-bottom: -10%;
}
h3 {
    text-align: center;
    color:rgb(124, 236, 224);
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 20px 0;
}

.navbar a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    color: rgb(31, 230, 9);
}

.login-container{
display:none;
width:300px;
margin:auto;
border:1px solid gray;
padding:20px;
margin-top:30px;
text-align:center;
}

input{
width:90%;
padding:8px;
margin:5px;
}


.section,
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: 40px auto;
}

.para {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.image img,
.image1 img {
    width: 250px;
    border-radius: 10px;
}

.video1 {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.map1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}